*{
  cursor: url('./font/[CC]\ Handwrite\ v1.cur'), default !important;
}
.App {
  height: 100%;
  background-color: #282c34;
  text-align: center;
}

.false-fix{
  display: flex;
  flex-direction: column;
}
.fix-content{
  /* flex: 1; */
  height: calc(100% - 87px);
}
h1{
  color: #fff !important;
}
















.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
